<div class="container">
 
    <ul class="nav nav-tabs">
        <li ><a routerLink="/summary">Summary</a></li>
        <li ><a routerLink="/dashboard">Income</a></li>
        <li ><a routerLink="/expence">Expence</a></li>
        <li  ><a routerLink="/report">Report</a></li>    
        <li ><a routerLink="/allaccount">All Account</a></li>  
        <!-- <li class="active"><a routerLink="/customerinvoice">Business</a></li>  -->
        <li class="dropdown active">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Business <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a routerLink="/displaycustomerinvoices" (click)="setasCustomer();" >Invoice</a></li>
                <li><a routerLink="/allcustomers" (click)="setasCustomer();">Customers</a></li>
                <li><a routerLink="/displaycustomerinvoices" (click)="setasSupplier();">Bills To Pay</a></li> 
                <li><a routerLink="/allcustomers" (click)="setasSupplier();">Suppliers</a></li> 
             </ul>
        </li>  
        
          
      </ul>
      
      <div class="row">       
        <form #invoiceForm="ngForm">
          <div class="container-fluid pt-2 mb-5">
              <div class="row">
                  <div class="col-md-12">
                      <div class="card border-secondary">
                          <div class="card-body">
                              <h4 class="card-title">Customer Name</h4>
                              <div class="row">
                                  <div class="col-md-12">
                                      <div class="form-group ">
                                          <label for="name">Name</label>
                                          <input type="text" class="form-control" name="name" id="name"   
                                                [ngClass]="{'is-invalid': invoiceForm.submitted && CustName.invalid}"                                          
                                              [(ngModel)]="name"  #CustName="ngModel"    readonly>                                                                                       
                                      </div>                                      
                                  </div>                                
                              </div>
                              <div class="row">
                                  <div class="col col-12 col-lg-3 col-md-3">
                                        <label for="datetoday">Date</label>
                                        <input type="date" class="form-control" name="datetoday" id="datetoday"  [(ngModel)]="invoice.date" required>
                                  </div>
                                  <div class="col col-12 col-lg-3 col-md-3">
                                    <label for="duedate">Due Date</label>
                                    <input type="date" class="form-control"  name="duedate" id="duedate"  [(ngModel)]="invoice.duedate" required>
                                </div>
                                <div class="col col-12 col-lg-3 col-md-3">
                                    <label for="invoice">Invoice#</label>
                                    <input type="text" class="form-control" name="invoice" id="invoice"   [(ngModel)]="invoice.invoiceno" required readonly>
                                </div>
                                <div class="col col-12 col-lg-3 col-md-3">
                                    <label for="reference">Reference</label>
                                    <input type="text" class="form-control" name="reference" id="reference" [(ngModel)]="invoice.referenceno"  >
                                </div>
                              </div>
                          </div>
                      </div>
                      <br><br>
                      <div class="card border-secondary mt-2">
                          <div class="card-body">
                              <h4 class="card-title d-flex justify-content-between">Order Details <button type="button"
                                      class="btn btn-secondary" (click)="addProduct()">+</button></h4>
                              <div class="row">
                                  <table class="table">
                                      <thead>
                                          <tr>
                                              <th width="25%">Product</th>
                                              <th width="25%">Price</th>
                                              <th width="25%">Quantity</th>
                                              <th width="25%">Amount</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr *ngFor="let product of invoice.products; let i=index">
                                              <td scope="row">
                                                  <input type="text" class="form-control" name="productName{{i}}"
                                                      [ngClass]="{'is-invalid': invoiceForm.submitted && ProductName.invalid}"
                                                      id="productName" [(ngModel)]="product.name" #ProductName="ngModel"
                                                      required>
                                              </td>
                                              <td>
                                                  <input type="number" class="form-control" name="price{{i}}" id="price"
                                                      [ngClass]="{'is-invalid': invoiceForm.submitted && ProductPrice.invalid}"
                                                      [(ngModel)]="product.price" #ProductPrice="ngModel" required>
                                              </td>
                                              <td>
                                                  <input type="number" class="form-control" name="quantity{{i}}" id="quantity"
                                                      [ngClass]="{'is-invalid': invoiceForm.submitted && ProductQty.invalid}"
                                                      [(ngModel)]="product.qty" #ProductQty="ngModel" required>
                                              </td>
                                              <td>
                                                  {{product.price * product.qty || ''}}
                                              </td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
                      <div class="card border-secondary mt-2">
                          <div class="card-body">
                              <h4 class="card-title">Additional Details</h4>
                              <div class="form-group">
                                  <textarea class="form-control" name="additionalDetails" rows="3"
                                      [(ngModel)]="invoice.additionalDetails"></textarea>
                              </div>
                          </div>
                      </div>
                      <div class="row" *ngIf="aprove">
                          <div class="col col-12 col-md-6 col-lg-6">
                                <button type="button" class="btn btn-danger" (click)="deleteInvoice()">Delete</button>
                          </div>
                          <div class="col col-12 col-md-6 col-lg-6">
                            <button type="button" class="btn btn-primary" (click)="invoiceForm.valid ? updateInvoice() : EnterValidData() ">Update</button>
                        </div>
                        <br>
                      </div>

                      <div class="row" *ngIf="draft">
                        <div class="col col-12 col-md-4 col-lg-4 col-sm-4 col-xs-4">
                              <button type="button" class="btn btn-danger" (click)="deleteInvoice()" style="width: 50%;">Delete</button>
                        </div>
                        <div class="col col-12 col-md-4 col-lg-4 col-sm-4 col-xs-4">
                          <button type="button" class="btn btn-primary" (click)="invoiceForm.valid ? updateInvoice() : EnterValidData()" style="width: 50%;">Update</button>
                        </div>
                        <div class="col col-12 col-md-4 col-lg-4 col-sm-4 col-xs-4">                            
                            <button type="button" class="btn btn-success" (click)="invoiceForm.valid ? aprovedraftinvoice() : EnterValidData()" style="width: 50%;">Aprove</button>
                        </div>
                        <br>
                    </div>
                    hr
      
                  </div>
                 
              </div>

          </div>
      </form>


      </div>
          
</div>



