<div class="container">
    <ul class="nav nav-tabs">
        <li ><a routerLink="/summary">Summary</a></li>
        <li class="active"><a routerLink="/transactions">Transactions</a></li>
        <li ><a routerLink="/dashboard">Income</a></li>
        <li ><a routerLink="/expence">Expence</a></li>
        <li><a routerLink="/report">Report</a></li>    
        <li><a routerLink="/allaccount">All Account</a></li> 
        <li class="dropdown ">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Business <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a routerLink="/displaycustomerinvoices" (click)="setasCustomer();" >Invoice</a></li>
                <li><a routerLink="/allcustomers" (click)="setasCustomer();">Customers</a></li>
                <li><a routerLink="/displaycustomerinvoices" (click)="setasSupplier();">Bills To Pay</a></li> 
                <li><a routerLink="/allcustomers" (click)="setasSupplier();">Suppliers</a></li> 
             </ul>
             
        </li>      
      </ul>
      <br>

      <div class="row">       
        <div class="col col-12 col-lg-12 col-md-12 col-sm-12">
            <button type="button" class="btn btn-info " style="width: 100%" >Transactions Page</button>
        </div>
    </div>
    <br>

  
    <div class="row">       
        <div class="col col-12 col-lg-3 col-md-3 col-sm-3">

        </div>  
        <div class="col col-12 col-lg-5 col-md-5 col-sm-5">
            <ul class="nav nav-tabs">
                <li class="active" ><a routerLink="/transactions">Unallocated</a></li>
                <li ><a routerLink="/allocatedtransactons">Allocated</a></li>
                <li ><a routerLink="/personaltransactions">Personal</a></li>               
            </ul>
        </div>  
        <div class="col col-12 col-lg-4 col-md-4 col-sm-4">
            
        </div>         
    </div>
    <div class="row">
        <h4 class="card-title d-flex justify-content-between">New Payment <button type="button"
            class="btn btn-primary" (click)="addPayment()"><i class="glyphicon glyphicon-plus"></i></button></h4> 
    </div>
    <div class="row" *ngFor="let payment of payments; let i=index">
        <div class="col col-12 col-lg-2 col-md-2 col-sm-2">
              <label for="date{{i}}">Date</label>
              <input type="date" class="form-control" name="date{{i}}" id="date{{i}}" 
              [(ngModel)]="payment.date" required>
        </div>
        <div class="col col-12 col-lg-2 col-md-2 col-sm-2">
          <label for="paidin">Paid In#</label>
          <input type="number" class="form-control" (input)="onPressKeyboardPaidIn($event.target.value,i)" [(ngModel)]="payment.paidin" name="paidin" id="paidin" >
      </div>
      <div class="col col-12 col-lg-2 col-md-2 col-sm-2" >
          <label for="paidout">Paid Out#</label>
          <input type="number" class="form-control"  (input)="onPressKeyboardPaidOut($event.target.value,i)" [(ngModel)]="payment.paidout" name="paidout" id="paidout"  >
      </div>
      <div class="col col-12 col-lg-2 col-md-2 col-sm-2">                                    
          <label for="desc" *ngIf="!matchactive[i]">Description#</label>
          <input type="text" class="form-control"  [(ngModel)]="payment.description" name="desc" id="desc"  *ngIf="!matchactive[i]" >
      </div>
      <div class="col col-12 col-lg-1 col-md-1 col-sm-1">                                    
       
        </div>
      <div class="col col-12 col-lg-3 col-md-3 col-sm-3"> 
          <table>
              <tr>
                  <td>
                    <table>
                        <tr>
                            <td align="center"> <b>Allocate</b> </td>
                        </tr>
                        <tr *ngIf="!matchactive[i]">
                          <ul class="nav nav-tabs">
                              <li class="active" ><a routerLink="/transactions" (click)="createSelected(i);">Create</a></li>
                              <li ><a routerLink="/match" (click)="matchSelected(i);">Match</a></li> 
                          </ul>  
                        </tr>
                        <tr *ngIf="matchactive[i]">
                            <ul class="nav nav-tabs">
                                <li  ><a routerLink="/transactions" (click)="createSelected(i);">Create</a></li>
                                <li class="active" ><a  (click)="matchSelected(i);">Match</a></li>                                 
                            </ul>  
                          </tr>
                        <tr *ngIf="!matchactive[i]">                            
                          <td>
                              <input type="text" class="form-control" name="allocate" id="allocate" [(ngModel)]="payment.category"
                              (input)="onPressKeyboardCategory($event.target.value,i)" required placeholder="Category"> 
                              <div *ngIf="displaycategorynames[i]">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr *ngFor="let c of categorynames | filter : payment.category" (click)="selectedProductCategory(c.category,i)">
                                            <td> {{c.category}}</td>                                                                                                                                       
                                        </tr>                                                       
                                    </tbody>

                                    <tr *ngIf="addnewcategoryenable[i]">
                                        <td align="center">
                                         <button type="button" class="btn btn-info" (click)="addNewCategory(i)">  <i class="glyphicon glyphicon-user">ADD THIS CATEGORY</i></button>
                                        </td>                                                        
                                     </tr>
                                </table>                                              
                            </div>    
                          </td>
                        </tr>
                    </table> 
                  </td>
                  <td *ngIf="!matchactive[i]">
                      <button type="button"  (click)="savePayment(i)" class="btn btn-primary">SAVE</button>
                      
                    <!-- <div class="dropdown " >
                        <button class="glyphicon glyphicon-option-vertical dropdown-toggle" type="button" data-toggle="dropdown"></button>
                        <ul class="dropdown-menu">
                          <li><a style="cursor: pointer;" (click)="removePayment(i)" >SAVE</a></li>
                          <li><a style="cursor: pointer;" (click)="removePayment(i)" >EDIT</a></li>
                          <li><a style="cursor: pointer;" (click)="removePayment(i)">Delete</a></li>                            
                        </ul>
                      </div> -->
                  </td>
                  <td><button type="button"  (click)="removePayment(i)" class="btn btn-danger">X</button></td>
              </tr>
          </table>  
          </div>
          <!-- display matching invoices -->
          <div class="row" *ngIf="matchactive[i]">
              <div class="col col-12 col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <table class="table">
                    <thead>
                        <th>#</th>
                        <th>Invoice No</th>
                        <th>Reference No</th>
                        <th>To</th>
                        <th>Due Date</th>
                        <th>Total Amount</th>
                        <th>Paid</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let customerinvoice of customerinvoices; let k = index;let last = last;" >
                            <td><input type="checkbox" [disabled]="customerinvoice.checked" value="{{customerinvoice.value}}" [(ngModel)]="customerinvoice.checked"  (change)="checkValuePositive(k,i)"/> </td>
                            <td>{{customerinvoice.invoiceid}}</td>
                            <td>{{customerinvoice.reference}}</td>
                            <td *ngIf="customerinvoice.link"><a routerLink="/individualcustomer" (click)="customerclicked(customerinvoice.customerid);">{{customerinvoice.customername}}</a></td>
                            <td *ngIf="!customerinvoice.link">{{customerinvoice.customername}}</td>                            
                            <td>{{customerinvoice.duedate}}</td>
                            <td>{{customerinvoice.totalamount}}</td>
                            <td>{{customerinvoice.allocatedAmount}}</td>                                                       
                        </tr>
                        <tr *ngFor="let suppliernegativeinvoice of suppliernegativeinvoices; let k = index;let last = last;" >
                            <td><input type="checkbox" [disabled]="suppliernegativeinvoice.checked" value="{{suppliernegativeinvoice.value}}" [(ngModel)]="suppliernegativeinvoice.checked"  (change)="checkValueNegative(k,i)"/> </td>
                            <td>{{suppliernegativeinvoice.invoiceid}}</td>
                            <td>{{suppliernegativeinvoice.reference}}</td>
                            <td *ngIf="suppliernegativeinvoice.link"><a routerLink="/individualcustomer" (click)="supplierclicked(suppliernegativeinvoice.customerid);">{{suppliernegativeinvoice.customername}}</a></td>
                            <td *ngIf="!suppliernegativeinvoice.link">{{suppliernegativeinvoice.customername}}</td>                            
                            <td>{{suppliernegativeinvoice.duedate}}</td>
                            <td>{{suppliernegativeinvoice.totalamount}}(REFUND)</td>
                            <td>{{suppliernegativeinvoice.allocatedAmount}}</td>                           
                        </tr>
                        <tr>
                            <td colspan="5">

                            </td>
                            <td colspan="3">
                                Total is out by {{outby[i]}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="8" align="center" >
                                <button type="button" class="btn btn-primary" [disabled]="savebtndisabled[i]">SAVE</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
              </div>
          </div>
      </div>      
</div>



